<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AutoRad{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="./static/styles.css">
    <!-- Add CSS in sytles.css above -->
</head>
<body>




    <div class="wrapper">
        <div id="content">

            {% block content %}
            {% endblock %}
        </div>

        <footer id="footer" class="footer mt-auto py-3 bg-light">
            <div class="container">
                 <span class="text-muted">CVPIA Lab, The University of Memphis</span>
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.3.1/fabric.min.js"></script> {% endcomment %}
    <script>
    {#// Initialize Fabric.js Canvas#}
    {#    var canvas = new fabric.Canvas('annotation-canvas', {#}
    {#        isDrawingMode: true,#}
    {#        width: 620, // Match the width set in the CSS#}
    {#        height: 620 // Match the height set in the CSS#}
    {#    });#}
    {##}
    {#    // Set drawing parameters (if needed)#}
    {#    canvas.freeDrawingBrush.width = 5; // Brush width#}
    {#    canvas.freeDrawingBrush.color = "#ff0000"; // Brush color#}
    {##}
    {#    // Example function to switch to drawing mode#}
    {#    function enableDrawingMode() {#}
    {#        canvas.isDrawingMode = !canvas.isDrawingMode;#}
    {#    }#}
    {##}
    {#    // Example function to clear the canvas#}
    {#    function clearCanvas() {#}
    {#        canvas.clear();#}
    {#    }#}

        // Add more functionalities as needed
    </script>


</body>
</html>
